#### DEF FUNCTION

In [27]:
## five i=only int and sttr values in a list
def tes(l):
    l1 = []
    for i in l:
        if type(i) == int or type(i) == str:
            l1.append(i)
    print(l1)
    

tes([1,2,3,4,5,"True", True])

[1, 2, 3, 4, 5, 'True']

In [11]:
# extracting data from the list inside a list and append the values extracted into a list

def test(l):
    l1 = []
    for i in l:
        if type(i) == list :
            for j in i:
                l1.append(j)
   
        else:
            if type(i) == int or type(i) == str:
                l1.append(i)
       
    print(l1)
    
    
test([1,2,3,4,5,["True", True],(1,2,3,4)])

[1, 2, 3, 4, 5, 'True', True]

In [18]:
# Create a Doctsting for a function -
# docsting basically shows the info about the function 
## info should be written in double quotes and inside the function 
def test1(l):
    """This is a function to extract elements inside a list as well as list inside the list"""
    l1 = []
    for i in l:
        if type(i) == list :
            for j in i:
                l1.append(j)
   
        else:
            if type(i) == int or type(i) == str:
                l1.append(i)
       
    print(l1)
    
    
test1([1,2,3,4,5,["True", True],(1,2,3,4)])

[1, 2, 3, 4, 5, 'True', True]

##### args
>The special syntax *args in function definitions in python is used to pass a variable number of arguments to a function. It is used to pass a non-key
worded, variable-length argument list.

In [37]:
def args(*args):
    return args
args("Prakash",1,2,5,6,8,9,4,5,9) ## Values are kept in form of a tuple

('Prakash', 1, 2, 5, 6, 8, 9, 4, 5, 9)

In [25]:
## args is a convection we can take any variable inplace of args but * should be present

def args1(*Prakash):
    return Prakash
args1(5,6,8,7,9)

(5, 6, 8, 7, 9)

In [26]:
# to assign a function  with function(x,y) where x is *args(multiple input) and x will take single input
def test5(*args , x):
    return (args , x)

test5(1,2,3,4,5,6,8, x = 9) ## Here we will assign the variable x with = operator

((1, 2, 3, 4, 5, 6, 8), 9)

In [33]:
## Default values
def test6(c,d,a=9,b=65):
    return(a,b,c,d)
test6(4,5)

(9, 65, 4, 5)

In [34]:
# overriding ddefault values
test6(7,8,a=0)

(0, 65, 7, 8)

##### kargs

>The special syntax **kwargs in function definitions in python is used to pass a keyworded, variable-length argument list. We use the name kwargs with the double star.

In [39]:
def kwargs(**kwargs):
    return kwargs
kwargs() ## it returns a dictionary

{}

In [41]:
## input should be in key value pair format
kwargs(name = "prakash",b = "singh", c =" data science")

{'name': 'prakash', 'b': 'singh', 'c': ' data science'}

#### Genatrator function
>Generator functions provide a powerful alternative: they allow you to define an iterative algorithm by writing a single function whose execution is not continuous.

In [43]:
def test_fib(n):
    a,b= 0,1
    for i in range (n):
        yield a
        a,b = b, a+b

In [44]:
test_fib(10)

In [46]:
for i in test_fib(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

In [2]:
def test_fibw():
    a,b= 0,1
    while True:
        yield a
        a,b = b, a+b

In [3]:
fib = test_fibw()

In [4]:
for i in range(10):
    print(next(fib))

0
1
1
2
3
5
8
13
21
34

In [7]:

string = "prakash"
for i in string:
    print(i)

p
r
a
k
a
s
h

In [8]:
## string is not a object which can be iterated by next i.e string != iterator
next(p)

NameError: name 'p' is not defined

In [10]:
string

'prakash'

In [11]:
s1 = iter(string)
next(s1)

'p'

In [12]:
next(s1)

'r'

In [13]:
next(s1)

'a'

In [14]:
next(s1)

'k'

> iterable object (str,list,tuple...)can be iterated so it can be converted into with the help of iter function

> generator extracts data one by one

In [8]:
def count_test(n):
    count = 1
    while count< n:
        yield count
        count = count +1

In [9]:
c = count_test(5)

In [10]:
for i in c:
    print(i)

1
2
3
4

#### Lamda Function

In [29]:
## Power using def
def power(a,b):
    return(a**b)
power(3,2)

9

In [21]:
## power of a number 
# creating lambda function and assigning it to a variable
a = lambda n , p : n**p

In [22]:
a(3,2)

9

In [28]:
## add
add= lambda b,c : b+c
add(55,5)

60

In [30]:
## celcius to farenhite
c_to_f = lambda c : (9/5)* c +32
c_to_f(45)

113.0

In [36]:
## Maximum of two numbers

find_max = lambda a,b : a if a>b   else b

In [37]:
find_max(34,44)

44

In [39]:
## lambda function to return length of a string
len_str = lambda a : len(a)
len_str ("prakash")

7

#### Map Reduce and Filter Function

###### MAP

In [59]:
## square using def and map
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
def sqr(i):
    return (i**2)

In [60]:
list(map(sqr,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [62]:
## square using lambda and map
a = lambda i : i **2
list(map(a,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [64]:
list(map((lambda i : i**2) , l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [65]:
## sum of two list

## using lambda and map
l1 = [ 1,2,3,4,5]
l2 = [6,7,8,9,10]
list(map(lambda x,y: x+y ,l1,l2 ))

[7, 9, 11, 13, 15]

In [66]:
## using def and map
def add(a,b):
    return a+b
list(map(add,l1,l2))

[7, 9, 11, 13, 15]

In [71]:
## chnaging string into upper case
string = "Prakash"
list(map( lambda x : x.upper() , string))

['P', 'R', 'A', 'K', 'A', 'S', 'H']

###### Reduce

In [73]:
from functools import reduce

In [74]:
## sum of all elements in a list

## number of arguments inside a reduce function cannot exceed 2
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
reduce(lambda x,y : x+y ,l)

55

In [75]:
## it can have two arguments and an argument 1
reduce(lambda x,y : x+y ,[1])

1

In [78]:
## multuplication of entire list
reduce(lambda x , y : x * y , l)

3628800

In [79]:
## maximum number
reduce(lambda x,y : x if x > y  else y ,l)

10

###### Filter

In [80]:
## Even number
list(filter(lambda x : x%2 == 0, l))

[2, 4, 6, 8, 10]

In [81]:
## odd number
list(filter(lambda x : x%2 != 0, l))

[1, 3, 5, 7, 9]

In [82]:
li = [1,-1,4,-8,1,9,-9]
list(filter(lambda i : i<0,li))

[-1, -8, -9]

In [85]:
li1 = ["Prakash","Singh","Datascience"]
list(filter(lambda x : len(x) > 6 , li1))

['Prakash', 'Datascience']