### FOR AND WHILE LOOP :-

In [ ]:
# seperating the int float and str from the list
l = [ 21,2,3,4,8,7, "abc" , "Prakash" , "singh"]
l1 = []
l2 = []
for i in l:
    if type(i) == int or type(i) == float :
        l1.append(i)
    else:
        l2.append(i)
print(l1)
print(l2)

In [ ]:
# coverting the names in a list into uppercase
l = ["Prakash" , "Kison",  "Raj" , "Prem"]

l1 = []
for i in l :
    l1.append(i.upper())
print(l1)

In [ ]:
# printing all items from the list with its type
l_ = [1,2,3,4,5, "Prakash" , "Singh"]
for i in l_:
    print(i,type(i))

In [ ]:
# Example of break in a for loop with if else statement 
# break stops the for loop when i = Kison 
l = ["Prakash" , "Kison",  "Raj" , "Prem"]
for i in l :
    if i == "Kison":
        break
        
    print(i)

In [ ]:
# else statement is not executed because the for loop is not completed its iteration
for i in l :
    if i == "Raj":
        break
    print(i)
else:
    print("Execute this only when for loop is completed")

In [ ]:
# continue send imediate resopnse to the for loop in this case it iterates back to the for loop when the value of i = Raj
for i in l :
    if i == "Raj":
        continue
    print(i)
else:
    print("Execute")

In [ ]:
list(range(10))

In [ ]:
list(range(0,20,2))

In [ ]:
list(range(-10,0))

## Data in reverse order by a list using for loop

In [ ]:
print(l)
list(range(len(l)))

In [ ]:
for i in range(len(l)):
    print(l[i])

In [ ]:
## Printing the even values from the list
l = [ 4,4,5,7,8,7,9,87,8,855,477,889]
l2 = []
for i in l:
    if i%2 == 0 or i == 0 :
        print(i)
        l2.append(i)
        
print(l2)

In [ ]:
## Printing the values in even index
list(range(0, len(l) , 2))

In [ ]:
for i in range(0 , len(l) , 2 ):
    print(l[i])

In [ ]:
## Sum of all elements in the list
l

In [ ]:
result = 0
for i in l5:
    result = result + i
print(result)

In [ ]:
## second menthod
l5 = [ 4,4,5,7,8,7,9,87,8,855,477,889]
output =  0
for i in l5:
     output = sum(l5)
print(output)

In [ ]:
## Iterating through strings
s = "Prakash"
for i in s:
    print(i)

In [ ]:
## Iterating through tuple
t = (1,2,5,"Prakash")
for i in t:
    print(i)

In [ ]:
## Iterating through set
se = {1,2,22,5,7,5,2,2,1}
for i in se:
    print(i)

In [ ]:
## Iterating through dict
d = { "Name" : "Prakash" ,"Class":"DataSCience" , "topics" :[ "Sub1" , "Python" , "Sub2" , "Statistics" , "Sub3" , "ML"]}
print(d)
d.keys()

In [ ]:
for i in d.keys() :
    print(d[i])

In [ ]:
for i in d.values():
    print(i)

In [ ]:
for i in d.items():
    print(i)

In [ ]:
## WHILE LOOP
# A "While" Loop is used to repeat a specific block of code an unknown number of times, until a condition is met.

In [ ]:
# While loop first checks the conditon then iterates through the loop
a = 1
while a <= 10:
    print(a)
    a =  a +1

In [ ]:
# Sumation of n numbers
n = int(input("Enter your limit : "))
start = 0
counter = 1        
while counter <= n:
        start = start + counter
        counter = counter +1
start

In [ ]:
## Factorial of a number
f = int(input("Enter the number to find the factorial"))
factorial = 1 
while f > 0:
    factorial = factorial * f
    f = f - 1 
factorial

In [ ]:
## Fibonacci series
number = int(input("Enter the number:"))
a , b = 0 , 1 
counter = 0
while counter < number :
    print(a)
    c = a+b
    a = b 
    b = c 
    counter = counter +1

In [ ]:
# for loop is maintaing the counter on its own so don't need counter variable
number = int(input("Enter the range of number:"))
a,b = 0,1
for i in range(n):
    print(a)
    c = a+b
    a = b 
    b = c

In [ ]:
## Reversing the srting using while loop
string = input("Enter the string :")
reverse = ""
length = len(string)
while length > 0 :
    reverse = reverse + string[length - 1]
    length = length - 1 
print(reverse)

In [ ]:
## Table of a number 
number = int(input("Enter the number :"))
i = 1 
while i <= 10 :
    result = number * i
    print(number , "*" , i , "=" , result)
    i = i + 1

In [ ]:
number = int(input("Enter the number :"))
for i in range(11):
    result = i * number
    print(number , "*" , i , "=" , result)

In [ ]:
n = 8 
i = 1 
while i < n:
    print(i)
    i = i +1 
else:
    print(False)

In [ ]:
n = 8 
i = 1 
while i < n:
    print(i)
    if i == 5:
        break
    i = i +1 
else:
    print(False)

In [ ]:
# Checking if a number if armstrong or not
n =  str(input("Enter a number ::"))
result = 0
for i in n:
    multiple = int(i)*int(i)*int(i)
    
    result = result + multiple
if result == int(n) :
    print(n, " is a armstrong number.","\n",result," Is the result")
else:
    print("It is not a armstrong number:" , result)

In [ ]:
## Using while loop to find a number is armstrong or not
num = input("Enter the number:")
list_num = list(num)
print(list_num)
result = 0
i = 0
length = len(str(num))
while i < length :
    multiple = int(list_num[i])**3
    result = result + multiple
    i = i + 1 
print(result)

In [ ]:
num = int(input("Enter a Number:"))
order = len(str(num))
temp = num;
sum = 0
while(temp>0):
    digit =temp%10
    sum += digit **order
    temp = temp//10
if(sum==num):
    print("",num,"is an Armstrong number")
else:
    print("",num,"is not an Armstrong number")

In [2]:
### Program to enter a number until the user enter a zero and find the sum of all the negative and postive number s entered
sum_negative = 0
sum_positive = 0
n = 1
while (n != 0 ):
    n = int(input("Enter a number :"))
    if n>0 :
        sum_positive = sum_positive + n      
    else :
        sum_negative = sum_negative + n
        
print(sum_positive)
print(sum_negative)

Enter a number : 50
Enter a number : 14
Enter a number : -1
Enter a number : -2
Enter a number : 0

64
-3

In [ ]:
## program to take n numbers as user input until the user stops and find out the sum of the numbers
result = 0
Title = "type + to get the sum of all the numbers you have entered"
stop = 'Y'
while stop == "Y":
        n = int(input("Enter a number ;"))
        result = result + n
        stop = input("Enter N if you want to stop")
        print(result)

In [ ]:
##