### Python beginners problems :-

##1 print sum of two numbers

In [ ]:
a= int(input("Enter a number"))
b = int(input("Enter a number"))
d = a+b
print(d)

##2 print maximum of two numbers

In [ ]:
a= int(input("Enter a number"))
b = int(input("Enter a number"))
if a>= b:
    print (a)
else: 
    print (b)

In [ ]:
# Second method
def maxi(a,b):
    if a>=b :
        return a
    else:
            return b
a= int(input("Enter a number"))
b = int(input("Enter a number"))
print(maxi(a,b))

##3 take user input as n and print the value of n+nn+nnn

In [ ]:
a= int(input("Enter a number"))
n = int("%s" % a)
n1 = int("%s%s" % (a,a))
n2 = int("%s%s%s" % (a,a,a))
print(n+n1+n2)

##4 show calender of a given year adn month

In [ ]:
import calendar
y = int(input("Enter the year"))
m = int(input("enter the month"))
print(calender.month(y,m))

##5 program to print the differnce between two dates

In [ ]:
from datetime import date
date1 = date (2017,7,2)
date2 = date(2017,8,2)
diff = date2-date1
print(diff)

##6  find volumne of a sphere with radius as user input

In [ ]:
r = int(input("Enter the radius of the sphere"))
pi = 3.14
vol = 4/3*3.14*r**3
print("your answer is " , vol)

##7 Write a Python program to get the difference between a given number and 17, 
if the number is greater than 17 return double the absolute difference.

In [ ]:
a = int(input("Enter a number :"))
if a>17:
    r = a-17
    print(r+r)
else:
    print(17-a)

##8 Write a Python program to calculate the sum of three given numbers,
    if the values are equal then return three times of their sum.

In [ ]:
a = int(input("Enter a number :"))
b = int(input("Enter a number :"))
c = int(input("Enter a number :"))
if a!= b :
    print( a+b+c)
else:
    print (3*(a+b+c))

##9 Write a Python program to get a new string from a given string where "Is" has been added to the front. 
    If the given string already begins with "Is" then return the string unchanged.

In [ ]:
a = (input("Enter a string :"))
if a[:2] == "Is":
    print(a)
else:
    print('Is' + a)

##10 program to find a number is EVEN OR ODD.

In [ ]:
a = int(input("Enter a number :"))
if a%2 == 0:
    print("Even")
else:
    print("odd")

In [ ]:
# Second method
def mod(a):
    if a%2 == 0:
        return("Even")
    else:
        return("Odd")
mod(5)

In [ ]:
lst = [4,44,44,44,44,4]
list.count

In [ ]:
##12 Write a Python program to test whether a number is within 100 of 1000 or 2000.

def near_thousand(n):
      return ((abs(1000 - n) <= 100) or (abs(2000 - n) <= 100))
print(near_thousand(10))
print(near_thousand(900))
print(near_thousand(800))   
print(near_thousand(2200))

In [ ]:
##13 Write a Python program to get the n (non-negative integer
## ) copies of the first 2 characters of a given string. Return the n copies of the whole string if the length is less than 2.

In [ ]:
## Write a Python program to test whether a passed letter is a vowel or not.
a = input("enter a letter : ")
lst = ['a','e','i','o','u']
if a in lst:
    print ("Vowel")
else:
    print("Consonant ")

In [ ]:
def vowel(a):
    if a in ['a','e','i','o','u']:
        return('vowel')
    else:
        return('consonant')
vowel('e')

In [ ]:
###14 Write a Python program to check whether a specified value is contained in a group of values.
a = int(input("Enter a number :"))
lst = [1,5,6,7,3]
if a in lst:
    print(1)
else:
    print(0)

In [ ]:
def val(a):
    lst = [6,7,8,9]
    if a in lst:
        return (True)
    else:
        return(False)
val(1)

In [ ]:
###15 Write a Python program to print all even numbers from a given numbers list in the
## same order and stop the printing if any numbers that come after 237 in the sequence

numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527
    ]

for x in numbers:
    if x == 237:
        print(x)
        break;
    elif x % 2 == 0:
        print(x)

In [ ]:
### 16 Write a Python program to concatenate all elements in a list into a string and return it
lst = ['a',1,5,6,7]
j=" "
for i in lst:
    j += str(i)
print(j)

In [ ]:
def con(list):
    j = " "
    for i in list:
        j += str(i)
    return (j)
print(con([1,2,3,8]))

In [ ]:
##17 Write a Python program to print out a set containing all the colors from color_list_1 which are not present in color_list_2
## color_list_1 = set(["White", "Black", "Red"])
## color_list_2 = set(["Red", "Green"])
list_1 = set(["White", "Black", "Red"])
list_2 = set(["Red", "Green"])
diff = list_1-list_2
diff2 = list_2-list_1
print(diff)
print(diff2)

In [ ]:
##18 Write a Python program that will accept the base and height of a triangle and compute the area.
h = int(input("enter the height of the traingle :"))
b = int(input("enter the base of the traingle :"))
area = (h*b)/2
print(area)

In [ ]:
##19  Write a Python program to add two objects if both objects are an integer type

def integer_add(a,b):
    if type(a) == int and type(b)== int :
        return(a+b)
    else:
        return("number should be integer")

print(integer_add(7.8,9))

In [ ]:
##20 Write a Python program to solve (x + y) * (x + y)

x = int(input("Enter a number: "))
y = int(input("Enter a number: "))
sum_ = x+ y
sum_multiply = sum_ * sum_
print(sum_multiply)

In [ ]:
##21 Write a Python program to sum of the first n positive integers

x = int(input("Enter a number: "))
sum_x = (x*(x+1))/2
print(int(sum_x))

In [ ]:
# Second method
def findSum(n) :
    sum = 0
    x = 1
    while x <=n :
        sum = sum + x
        x = x + 1
    return sum
findSum(8)

In [ ]:
## 21  Write a Python program to calculate the hypotenuse of a right angled triangle
import math 
a = int(input("Enter a side : "))
b = int(input("Enter a side : "))
h = math.sqrt(a**2 + b**2)
print(h,"is the hypotenuse of the triangle")

In [ ]:
##22 Write a Python program to convert seconds to day, hour, minutes and seconds.
time = float(input("Input time in seconds: "))
day = time // (24 * 3600)
time = time % (24 * 3600)
hour = time // 3600
time %= 3600
minutes = time // 60
time %= 60
seconds = time
print("d:h:m:s-> %d:%d:%d:%d" % (day, hour, minutes, seconds))

In [ ]:
##23 Write a Python program to concatenate N strings.

lst = [ "Pea","apple","Meme","Beguni","mango"]
con_lst = '<\**/>'.join(lst)
print(con_lst)

In [1]:
#24
#Suppose the cover price of a book is $24.95, but bookstores get a 40% discount. Shipping costs
# 3 for the first copy and 75 cents for each additional copy. What is the total wholesale cost for 60 copies?

cover_price = 24.95
discounted_price = cover_price *0.4
final_price = (cover_price - discounted_price)*60
shipping = 3 
shipping_rest = 59*0.75


wholesale_cost= shipping_rest + shipping + final_price
print("wholesale cost :",str(wholesale_cost))

wholesale cost : 945.4499999999999

In [9]:
#25
#If I leave my house at 6:52 am and run 1 mile at an easy pace (8:15 per mile), then 3 miles at
#tempo (7:12 per mile) and 1 mile at easy pace again, what time do I get home for breakfast
import datetime
seconds = 1
hours = seconds / (60*60)
seconds = seconds - hours*60*60
minutes = seconds / 60
seconds = seconds - minutes *60

time_left_house = 6 * hours + 52 * minutes

miles_run_easy_pace = 2 * (8 * minutes + 15 * seconds)

miles_run_fast_pace = 3 * (7 * minutes + 12 * seconds)


total_time_run = miles_run_easy_pace + miles_run_fast_pace + time_left_house


print (total_time_run, "Total time run: " , hours, 'Hours: ', minutes, 'Minutes: ', seconds, 'Seconds: ')

0.0016666666666666666 Total time run:  0.0002777777777777778 Hours:  0.0 Minutes:  0.0 Seconds:

In [ ]:
echo "# PYTHON-PRACTICE" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/itsPrakash2308/PYTHON-PRACTICE.git
git push -u origin main